<a id="add-song" type="button" class="btn btn-warning btn-block" href="#/songs/add">Add</a>
<div>
    <ul id="all-songs" class="list-group">
        {{#each all}}
            <div id="song">
                <li class="list-group-item">
                    <h4>{{title}}</h4><br> {{#if description}}
                    <small>{{description}}</small><br> {{else}}
                    <small><em>No description</em></small><br> {{/if}}
                    <a href="#/songs/{{id}}/comments" class="watch-song" data-url="{{url}}" data-id="{{id}}"><span class="glyphicon glyphicon-play"></span></a>
                    <a class="glyphicon glyphicon-share-alt share-song" href="https://www.facebook.com/sharer/sharer.php?u={{url}}" target="_blank"></a>
                    <a class="glyphicon glyphicon-trash remove-song" href="#/songs/{{id}}/del"></a>
                    <span class="glyphicon glyphicon-star-empty pull-right" aria-hidden="true">{{stars}}</span>
                    <span class="glyphicon glyphicon-user pull-right" aria-hidden="true"></span>
                </li>
            </div>
        {{/each}}
    </ul>
</div>